// Variables

$materialPaper: #FAFAFA;
$materialOffWhite: #F5F5F5;
$derritBlue: #03A9F4;
$warning: #FF9800;

// Mixins

@mixin card {
  background-color: $materialPaper;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 16px;
}

@mixin pamphlet {
  @include card;
  padding: 32px;
}

@mixin shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

// Status

.theme-warning {
  background-color: $warning;
  color: #212121;
}

.theme-primary {
  background-color: $materialOffWhite;
  color: #424242;
}

.theme-danger {
  background-color: #D50000;
  color: white;
}

.text-danger {
  color: #D50000;
}

.text-success {
  color: #4CAF50;
}

.text-secondary {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}
// Icons

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

// Standard Elements

body {
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  color: #212121;
  margin: 0px;
  padding: 0px;
  background-color: #E0E0E0;
  overflow-x: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 300;
}

i {
  margin-right: 8px;
}

label {
  text-align: right;
  i {
    margin-left: 8px;
    color: #424242;
  }
}


// Layout

.flex-row {
  display: flex;
  flex-flow: row;
}

.flex-col {
  display: flex;
  flex-flow: column;
  input {
    margin-bottom: 16px;
  }
}

.flex-col.center,
.flex-row.center {
  align-items: center;
}

.flex-row > .centered,
.flex-col > .centered {
  align-self: center;
}

.flex-col > .right {
  align-self: flex-end;
}

.stretch {
  align-self: stretch;
  width: 100%;
}

// Components

.appnav {
  display: flex;
  flex-flow: row;
  align-items: center;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 48px;
  background-color: #03A9F4;
  color: #FAFAFA;
  border-bottom: 1px solid #039BE5;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 4px 24px;
  text-transform: uppercase;
}

.appnav > button {
  flex-flow: row;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: #FAFAFA;
  display: flex;
  border: 1px solid #0288D1;
  border-radius: 4px;
  background-color: #039BE5;
  box-shadow: inset 0px 0px 0px 1px rgba(41,182,246,.5);
  padding: 8px 16px;
  margin-right: 24px;
  font-weight: 600;
  font-size: 12px;
}

.appnav > button > i {
  margin-right: 8px;
}

.container {
  padding: 0px 24px 24px 24px;
  /*align-self: center;*/
}

.logo {
  margin: 0px 24px 0px 0px;
}

.btn-group {
  button {
    margin-right: 16px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

.post {
  @include card;
  width: 768px;
  margin-top: 8px;
  position: relative;
  z-index: 4;
  &:nth-child(0) {
    margin-top: 24px;
  }
  &:ng-leave {
    animation: zoomOut 1s;
  }
  .post-image {
    width: 200px;
    height: 150px;
    margin: 0px 16px;
  }
  .post-position{
    margin: 0px 0px 8px 0px;
    color: #9E9E9E;
    font-size: 24px;
    font-weight: 300;
  }
  .post-details {
    max-width: 450px;
  }
  .post-tags {
    list-style: none;
    padding: 0px;
    margin: 8px 0px;
    li.post-tag {
      color: #424242;
      background-color: #EEEEEE;
      margin: 0 3px 3px 0;
      padding: 4px 6px;
      border-radius: 2px;
      font-size: 12px;
    }
  }
  h2 {
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 16px;
    font-size: 20px;
  }
  p {
    font-size: 14px;
    color: #757575;
  }
}

.post-tag {

}

.commentCard {
  @include pamphlet;
  width: 512px;
  margin: -24px auto 0px auto;
  position: relative;
  z-index: 2;
  align-self: center;
}

.comment {
  margin-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #BDBDBD;
  p {
    font-size: 14px;
    color: #757575;
  }
  &:first-child {
    margin-top: -8px;
  }

}


#vote-buttons {
  @include shadow-1;
  justify-content: space-around;
  width: 48px;
  height: 80px;
  border: 1px solid $materialPaper;
  border-radius: 4px;
  margin-left: 16px;
  background-color: $materialOffWhite;
  i {
    color: #757575;
    margin: 0px;
    cursor: pointer;
  }
  h3 {
    margin: 0px;
  }
}

// Forms & Inputs

input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: block;
  box-sizing: border-box;
  padding: 0px 8px 0px 4px;
  border: none;
  border-bottom: 2px solid #BDBDBD;
  outline: none;
  background: none;
  width: 512px;
  &:focus {
    border-bottom: 2px solid $derritBlue;
  }
  &.text-danger {
    border-bottom: 2px solid #D50000;
  }
}

textarea {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  display: block;
  border: none;
  outline: none;
  border: 2px solid #BDBDBD;
  padding: 8px;
  background: none;
  width: 512px;
  resize: vertical;
  &:focus {
    border: 2px solid $derritBlue;
  }
}

button {
  @include card;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: $derritBlue;
  color: white;
  padding: 8px 16px;
}

select {
  width: 128px;
  margin-left: 24px;
}

.tags-container {
  margin-top: 16px;
}

.selectize-control > .selectize-input {
  width: 512px;
  text-align: left;
  border: 2px solid #BDBDBD;
  border-radius: 0px;
  background-color: #FAFAFA;
}

.selectize-dropdown-content {
  text-align: left;
}

.selectize-control.multi .selectize-input>div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    background: $derritBlue;
    color: white;
}

// Unique Elements

#allPosts {
  margin-top: 24px;
  margin-left: auto;
}

.allComments {
  position: relative;
  z-index: 3;
  // margin-top: -12px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  width: 600px;
  background-color: $materialOffWhite;
  padding: 0px;
}

#newPostForm {
  @include pamphlet;
  margin-top: 24px;
  h1 {
    text-align: right;
    margin-top: 0px;
    margin-bottom: .75rem;
  }
  button {
    margin-top: 16px;
  }
}

.commentNav {
  margin-top: auto;
  transition: all .3s;
  button {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 16px;
  }
}

.searchPosts {
  height: 40px;
  width: 256px;
  border-radius: 40px;
  background-color: $materialPaper;
  border: 1px solid #0288d1;
  i {
    color: #757575;
    margin-left: 12px;
  }
  input {
    color: #757575;
    font-size: 16px;
    border: none;
    outline: none;
  }
}

.tag-panel {
  margin-right: -24px;
  height: 100%;
  margin-left: auto;
  z-index: -1;
  width: 320px;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0px 9px 18px 0px rgba(0,0,0,0.18), 0px 5px 5px 0px rgba(0,0,0,0.24);
  background-color: $materialPaper;
  flex: 0 1 auto;
}

ul.tag-list {
  padding: 0px;
  margin: 0px;
}

.tag-item {
  margin: 0 3px 3px 0;
  padding: 4px 6px;
  background: $derritBlue;
  border-radius: 2px;
  color: white;
  a {
    text-decoration: none;
    color: white;
  }
}

// Animations

.animated {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

// Transitions
.animated.ng-leave {
  animation: zoomOut .3s;
  transition: all .3s;
}

.animated.ng-enter {
  animation: zoomIn .3s;
  transition: all .3s;
}

.animated.ng-move,
.animated.ng-move-active {
  transition: all .3s;
}
