<div id="allPosts" class="flex-col center">
  <div class="post flex-row center" ng-repeat="post in posts | orderBy:'-votes'">
    <h3 class='post-position'>{{post.position}}</h3>
    <div id="vote-buttons" class="flex-col center">
      <i class="material-icons" ng-click="upvote(post)" data-id="{{post._id}}">keyboard_arrow_up</i>
      <h3 ng-class="{'text-success': post.votes > 0, 'text-danger': post.votes < 0}">{{post.votes}}</h3>
      <i class="material-icons" ng-click="downvote(post)" data-id="{{post._id}}">keyboard_arrow_down</i>
    </div>
    <div class='post-image' style="background: url({{post.imageURL}}) no-repeat center top; background-size: cover" alt=""></div>
    <div class="flex-col stretch">
      <h2>{{post.title}}</h2>
      <small>Posted on <strong>{{post.date}}</strong> by <strong>{{post.author}}</strong></small>
      <p>
        {{post.description}}
      </p>
    </div>
  </div>
</div>
